:root {
  --color-primario: #ff6600;         /* Naranja vivo */
  --color-secundario: #004C91;       /* Azul acero */
  --color-fondo: #0d0d0d;            /* Gris oscuro */
  --color-neutro: #f8f8f8;           /* Gris claro */
  --color-acento: #ffffff;           /* Blanco puro */
  --color-texto: #ffffff;            /* Texto sobre fondo oscuro */
  --color-primario-hover: #ff4500;   /* Naranja más oscuro al hover */
}
